a.skip {
    background: white;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: left 1s ease-out;
    z-index: 1;
    position: absolute;
    left: -400px;
    top: -200px;
}

@keyframes vibrate {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-1deg); }
    20% { transform: rotate(1deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(1deg); }
    50% { transform: rotate(-1deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-1deg); }
    80% { transform: rotate(1deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(-1deg); }
  }

img:hover {
    animation: vibrate 0.5s;
    animation-iteration-count: infinite;
}


body {
    background-color: #858585;
    background-image: url('../images/recycledpaper.png');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .collapsible {
    background-color: rgb(105, 20, 20);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
  }
  
  .active, .collapsible:hover {
    background-color: rgb(105, 20, 20);
    color: white;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: black;
  }


  nav ul {
    display: flex;
    flex-direction: column; 
    align-items: center;
  }

body{
   /* Set line spacing */
   line-height: 1.2;
}


header {
    /* Set padding and margin */
    padding: 5px 10px;
    margin: 5px;
}

nav {
    padding: 5px;
    margin: 5px;
    background-color: black;
}

nav ul li{
    /* Set display, margin, padding, font-size, background-color */
    display: inline-block;
    margin: 5px 20px;
    padding: 5px 10px;
    background-color: #F2D6DB;
    font-size: 16px;
    border-radius: 50px;
    font-size: large;
}

nav a{
    /* Set text decoration*/
    text-decoration: none;
}

a:visited{
    /* Set color */
    color: black;
}

nav a.current{
    /* Set text decoration, transformation, and underline properties */
    /* text-decoration: underline wavy; */
    /* text-underline-offset: 5px; */
    text-transform: uppercase;
    background-color: rgb(105, 20, 20);
    color: #F2D6DB;
    font-size: 20px;
    padding: 0px 5px;
}


h1{
   /*Set font and font size*/
    font-family: "Merriweather", "Anton", "Times New Roman", "Arial";
    font-size: 37px;
}

h2{
    /*Set font, font size, and alignment*/
    font-family: "Anton", "Times New Roman", "Arial";
    text-align: center;
    font-size: 32px;
}

h3{
    /*Set font size*/
    font-size: 20px;

}

h1, h2, h3{
    /*Set margin */
    margin-top: 10px;
}
.grid{
    /*Set width, margin, border properties, background color, and grid properties */
    display: grid;
    /* background-color: slategray; */
    width: 90%;
    border-radius: 10px;
    margin: auto;
    grid-template-columns: 90%;
    justify-content: space-between;
    justify-content: center;
    row-gap: 10px;

}

.grid div{
    /* Set border properties, padding, and background color */
    border: solid;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
    background-color: whitesmoke;

}

.grid img{
    /* Set width, margin, and display */
    width: 90%;
    display: block;
    margin: auto;
}

/* 
.grid div:nth-child(3n+1)  {
    box-shadow: 0px 0px 20px blanchedalmond;
    clip-path: inset(0px -8px 0px 0px round 10px) 
}

.grid div:nth-child(3n)  {
    box-shadow: 0px 0px 20px blanchedalmond;
    clip-path: inset(0px 0px 0px -8px round 10px)
}

.grid div:nth-child(3n+2)  {
     box-shadow: 0px 0px 20px blanchedalmond;
     clip-path: inset(0px -8px 0px -8px round 10px)
} 
*/

    

p + p {
     /* Set indentation */
     text-indent: 15px;
  }
  
p{
     /* Set margin */
     margin: 3px;
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
    line-height: 1;
    margin: 0px 0px 10px 50px;
    list-style-image: url("../images/sketchbook.png");
}

img {
    width: 50%;
    padding: 10px;
    margin: 20px;
    border: solid 4px rgb(105, 20, 20);
    border-radius: 5px;
}

/* Maroon glow on hover on images */
img:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgb(105, 20, 20);
}

/* For History & Politics - Every second image has a blue glow instead of maroon */
img:nth-of-type(2n):hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgb(20, 20, 105);
  }

/* Literature - Every second image has a blue glow instead of maroon */
  div:nth-child(even) img:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgb(20, 20, 105);
  }

  /** Code for prefers reduced motion **/

   @media screen and (prefers-reduced-motion: reduce){
  
    /*Turn off animation*/
    * {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
      }
   }